.wrapper {
  width: 800px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.example {
  background-color: #e5e5e5;
  padding: 5px;
  border-radius: 10px;
  color: #000;
}

.custom {
  background-color: peachpuff;
  border: 2px solid burlywood;
  color: white;

  .example {
    background-color: white;
  }
}

.arrow {
  display: none;
}
